/* Definindo variáveis de cores */
:root {
    --background-color: #f4f4f4;
    --header-background-color: rgb(0, 38, 87);
    --menu-background-color: rgb(0, 38, 87);
    --text-color: #333;
    --link-color: rgb(0, 0, 0);
    --link-hover-border-color: rgb(255, 255, 255);
    --form-background-color: #ffffff;
    --form-shadow-color: rgba(0, 0, 0, 0.1);
    --input-border-color: #ccc;
    --label-text-color: #555;
    --white: rgb(255, 255, 255);
    --border-radius: 5px;
}

#deletar-produto a {
    color: rgb(0, 0, 0);
    padding: 8px;
    border-radius: 5px;
    background-color: #ffffff;
    width: 100%;
}

.menu-item-4 a{
    color: rgb(0, 0, 0);
    padding: 8px;
    border-radius: 5px;
    background-color: #ffffff;
    width: 100%;
}

/* Reset styles */
body,
h1,
p,
ul,
li,
a,
input,
select,
form,
label {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Estilo geral do corpo */
body {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    color: var(--text-color);
    /* Cor do texto mais suave */
}

/* Estilo do cabeçalho */
header {
    position: absolute;
    width: 100%;
    height: 130px;
    top: 0;
    left: 0;
    background-color: var(--header-background-color);
    display: flex;
    align-items: end;
}

/* Estilo da navegação */
nav {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: end;
}

/* Estilo dos links */
a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--link-color);
    width: 100%;
    padding: 0px 30px;
    display: block;
}

.divForm {
    margin-top: 100px;
    background-color: var(--form-background-color);
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 8px var(--form-shadow-color);
    box-sizing: border-box;
    max-width: 100%;
}

/* Estilo do menu principal */
#ul-Menu {
    list-style-type: none;
    display: flex;
    width: 100%;
    padding: 0px 20px;
    justify-content: space-around;
    margin-bottom: 15px;
    gap: 3px;
}

/* Estilo do menu secundário */
.menu-secundario {
    list-style-type: none;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    max-width: 100%;
    gap: 3px;
    height: 60px;
    align-items: center;
    background-color: var(--menu-background-color);
}

.li-menu2 {
    padding: 5px;
    border-radius: var(--border-radius);
    font-weight: 100;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.li-menu2:hover a:hover {
    color: var(--white);
    background-color: var(--menu-background-color);
}

.menu-secundario li a {
    text-decoration: none;
    padding: 8px 15px;
    border-radius: var(--border-radius);
    color: var(--white);
    font-size: 1rem;
    border: 1px solid rgba(255, 255, 255, 0);
    transition: border 0.3s;
}

.menu-secundario li a:hover {
    border: 1px solid var(--link-hover-border-color);
}

.barra {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.qtd {
    font-weight: bold;
    margin-left: 10px;
}

/* Estilo do formulário */
form {
    display: grid;
    gap: 8px;
    box-sizing: border-box;
}

/* Alinhamento dos labels e inputs */
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    max-width: 100%;
    box-sizing: border-box;
}

label {
    font-weight: bold;
    width: 200px;
    font-size: 1rem;
    margin-right: 10px;
    text-align: right;
    color: var(--label-text-color);
    /* Cor do texto dos labels */
}

input[type="text"],
input[type="number"],
select {
    padding: 8px;
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    font-size: 1rem;
    text-align: center;
    margin-left: 10px;
    flex: 1;
    background-color: var(--white);
    color: var(--text-color);
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Ajuste de largura específica para inputs */
#codigoDeBarras,
#categoria,
#massa,
#volume,
#tamanho,
#massaNumero,
#volumeNumero,
#tamanhoNumero {
    width: 100%;
}

#nomeProduto {
    width: 100%;
}

#descricao {
    width: 100%;
}

/* Estilo dos itens do menu */
.menu-item-1,
.menu-item-2,
.menu-item-3,
.menu-item-4,
.menu-item-5,
.menu-item-6,
.menu-item-7,
.menu-item-8 {
    padding: 8px;
    border-radius: var(--border-radius);
    font-weight: 100;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

a {
    color: var(--white);
    font-size: 1.2rem;
    text-wrap: nowrap;
    padding: 8px;
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: var(--border-radius);
    transition: border 0.3s;
    width: 100%;
}

a:hover {
    border: 1px solid var(--link-hover-border-color);
}