#btn-exit {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff4d4d;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    border: none;
}

#btn-exit:hover {
    background-color: #cc0000;
}
.linha-inputs {
    display: flex;
    justify-content: space-between; /* Espaça os elementos igualmente */
    margin-bottom: 15px; /* Espaço entre as linhas */
}

.linha-inputs label {
    flex: 1; /* Faz com que o rótulo ocupe o espaço disponível */
    margin-right: 10px; /* Espaço entre o rótulo e o input */
}

.linha-inputs input {
    flex: 1; /* Faz com que o input ocupe o mesmo espaço que o rótulo */
    min-width: 150px; /* Largura mínima para os inputs */
}
