:root {
    --secondary-bg-color: rgb(0, 38, 87);
    /* Corrigido para "secondary" */
    --title-text-color: rgb(0, 38, 87);
    --border-color: #ddd;
    --text-color: rgb(28, 28, 28);
    --inactive-text-color: rgb(255, 255, 255);
    /* Ainda não utilizado, mas mantido */
    --menu-item-hover-bg: #dddddd00;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

header {
    background-color: var(--secondary-bg-color);
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    display: flex;
}

.div-menuPainel {
    display: flex;
    border-radius: 5px;
    justify-content: center;
    padding: 30px;
    background-color: white;
    overflow: hidden;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    /* Adiciona sombra ao painel do menu */
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* Adiciona espaço entre os itens da lista */
}

li {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    padding: 5px 50px;
    background-color: var(--secondary-bg-color);
    position: relative;
    width: 300px;
    height: 50px;
    margin: 8px;
}

li a {
    text-decoration: none;
    font-size: 1.7rem;
    color: var(--secondary-bg-color);
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    border-radius: 3px;
}

a {
    padding: 0 10px;
    border: 1px solid var(--border-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
        0 1px 3px rgba(0, 0, 0, 0.08);
    transition: box-shadow 0.3s ease-in-out;
}

a:hover {
    box-shadow: 0 12px 14px rgba(0, 0, 0, 0.20),
        0 3px 6px rgba(0, 0, 0, 0.1);
}

li img {
    width: 55px;
    height: auto;
    margin-right: 15px;
    position: absolute;
    right: 20px;
}

.menu-item-1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--secondary-bg-color);
    border: 1px solid rgba(255, 0, 0, 0);
    white-space: nowrap;
    /* Corrige o wrap do texto */
    cursor: default;
    background-color: var(--menu-item-hover-bg);
}

.logo {
    display: flex;
    align-items: center;
    color: white;
    width: 100%;
    justify-content: center;
    font-size: 3rem;
}

.logo img {
    margin-left: 5px;
    width: 70px;
}

/* Estilização do rodapé */
.footer {
    background-color: var(--secondary-bg-color);
    color: white;
    text-align: center;
    padding: 20px 10px;
    font-size: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.footer a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    border: none;
}

.footer a:hover {
    text-decoration: underline;
}